<!DOCTYPE html>
<html>
<head>
	<title>New Component 5</title>	
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="root">
	<button @click="showLogin = true">Login</button>
	
	<modal v-if="showLogin" @onsave="showLogin = false" @oncancel="showLogin = false">
		<template slot="header"> 
			Login Now
		</template>

		<template slot="body"> 
			<h1>Enter your name</h1>
			<input type="text" name="" v-model="name">
			<h1 style="color: aqua">{{name}}</h1>
		</template>
	</modal>
</div>

<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	Vue.component("modal", {
		template: `
			<div class="modal">
				<div class="modalContent">
					<div class="modalHeader">
						<slot name="header"></slot>
						<div class="close" @click="$emit('oncancel')">x</div>
					</div>
					<div class="modalBody">
						<slot name="body"></slot>
					</div>

					<div class="modalHeader">
						<button @click="$emit('onsave')">Save</button>
						<button @click="$emit('oncancel')">Cancel</button>
					</div>
				</div>
			</div>	

		`,

		props: ["modalTitle"],
		data: function(){
			return {
				show: true
			}
		}
	});


	var app = new Vue({
		el: "#root",
		data: {
			showLogin: false,
            name:" "
		}
	});
	
</script>

</body>
</html>